# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual env
venv/
env/
.venv/

# Environment variables (IMPORTANT)
.env

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Runtime data (DO NOT PUSH)
data/
runtime/

# Uploads / user files
uploads/

# Cache / temp
*.tmp
*.cache

# Node (if ever used)
node_modules/

# IDE
.vscode/
.idea/